
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tilbage_forside_knap{
    position: absolute;
    top: 45rem;
    left: 1rem;
    width: 14rem;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.tilbage_forside_knap:hover {
    transform: scale(1.05);
}

.afslut_spil_knap{
    position: absolute;
    top: 55rem;
    left: 2.1rem;
    width: 14rem;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.afslut_spil_knap:hover {
    transform: scale(1.05);
}