*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.knap_sektion {
    position: relative;
    height: 200px;
    width: 300px;
}

.tilbage_forside_knap{
    position: absolute;
    top: 53rem;
    left: 2rem;
    width: 14rem;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.tilbage_forside_knap:hover {
    transform: scale(1.05);
}

.afslut_spil_knap{
    position: absolute;
    top: 53rem;
    left: 2rem;
    width: 14rem;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.afslut_spil_knap:hover {
    transform: scale(1.05);
}

.horetelefoner {
    position: absolute;
    width: 9rem;
    top: 1rem;
    margin-left: 82rem;
    transition: transform 0.2s ease;
}

.horetelefoner:hover {
    transform: scale(1.05);
}