*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Første side */
.hjernen_dagbog_body{
    background-image: url('/img/hjernen/dagbog.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.start_spillet_knap {
    position: absolute;
    top: 48rem;
    left: 56rem;
    width: 15rem;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.start_spillet_knap:hover {
    transform: scale(1.05);
}

/* Anden side */
.hjernen_regnestykke1_body{
    background-image: url('/img/hjernen/regnestykke1.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.indtast_svar_knap{
    position: absolute;
    top: 50rem;
    left: 71rem;
    width: 22rem;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.indtast_svar_knap:hover {
    transform: scale(1.05);
}

/* Overlayet */
#overlay_billede {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6); /* lidt gennemsigtig baggrund */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10; /* læg det øverst */
  }
  
  /* Gør at billedet først viser sig når man trykker på knappen */
  #overlay_billede[hidden] {
    display: none !important;
  }

/* Billede på bogs størrelse */
  .overlay_indtast_svar{
    width: 37rem;
    position: absolute;
    height: auto;
    z-index: 1;
  }

/* Formular ovenpå billedet */
#svar_form {
    position: absolute;
    z-index: 2;
    width: 17rem;; /* kontrolleret bredde */
  }

  /* Inputfelt */
.bruger_svar {
    position: absolute;
    top: -2rem;
    width: 21rem;
    padding: 0.2rem 1rem;
    border-radius: 7rem;
    border: none;
    text-align: center;
    font-family: 'Swanky and Moo Moo', cursive;
    font-size: 1.9rem;
    z-index: 2;
  }

/* Luk knappen */
#luk_knap {
    position: absolute;
    bottom: 15.5rem;
    left: 21.9rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
  }
  
  #luk_knap img {
    width: 2.5rem;
  }

/* OK-knap */
#ok_knap {
    position: absolute;
    top: 3.7rem;
    left: 14.7rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
}

#ok_knap img {
    width: 7rem;
}

/* Forkert svar billedet*/
.forkert_overlay{
  position: relative;
  left: 2rem;
  z-index: 3;
  width: 25rem;
  display: flex;
  align-items: center;
}

/* Forkert svar - Prøv igen knappen */
.prov_igen_knap {
  position: absolute;
  padding: 0.6rem 3rem;
  background-color: #576D8C;
  color: white;
  border: none;
   border: 0.1rem solid white;
  border-radius: 10rem;
  font-family: "The Girl Next Door", cursive;
  font-size: 1.6rem;
  cursor: pointer;
  z-index: 4;
  top: 55%;
  left: 46%;
  transform: scale(1.05); 
  transform: rotate(-4deg);
}
  
.blå-knap:hover {
  background-color: #286090;
    
}

/* Side 4 - Korrekt siden */
.hjernen_korrekt_body{
    background-image: url('/img/hjernen/korrekt.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

/* Afslut knap */
.afslut_knappen {
  position: absolute;
  padding: 0.8rem 4.5rem;
  background-color: #9D433B;
  color: white;
  border: none;
  border: 0.1rem solid white;
  border-radius: 10rem;
  font-family: "Swanky and Moo Moo";
  font-size: 1.6rem;
  cursor: pointer;
  z-index: 4;
  top: 72%;
  left: 46%;
  transform: rotate(6deg);
}
  
.afslut_knappen:hover {
  background-color: #9D433B;
}

/* Start igen knap */
.start_igen_knap {
  position: absolute;
  padding: 0.6rem 3rem;
  background-color: #576D8C;
  color: white;
  border: none;
  border: 0.1rem solid #A5B4C9;
  border-radius: 10rem;
  font-family: "Swanky and Moo Moo";
  font-size: 1.8rem;
  cursor: pointer;
  z-index: 4;
  top: 70%;
  left:29%;
  transform: rotate(6deg);
}
  
.afslut_knappen:hover {
  background-color: #9D433B;
}

/* Hjerneside 3 */
.baggrundsbillede{
    position: relative;
    background-image: url('/img/hjernen/regnestykke2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    max-width: 100%;
    margin: 0;
    z-index: 0;
}

.regnestykker{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    top: 25rem;
    z-index: 1;
}

.regnestykker img{
    margin: 1rem;
}

.linje1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.linje1 .tal{
    width: 12rem;
}

.linje2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.linje2 .tal{
    width: 7rem;
}

.tegn{
    width: 6rem;
}

@keyframes waveNumber {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(15deg); }
    50% { transform: rotate(-10deg); }
    75% { transform: rotate(10deg); }
}
/* "Slående" hjerte-animation (skalering) */
@keyframes beatNumber {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.2); }
}

#forstetal{
    animation: waveNumber 3s ease-in-out infinite; /* Animerer konstant med vink */
}

#andettal{
    animation: beatNumber 1s ease-in-out infinite; /* Animerer konstant med vink */
}

#tredjetal{
    animation: waveNumber 3s ease-in-out infinite; /* Animerer konstant med vink */
}

.fjerdetal{
    animation: beatNumber 2s ease-in-out infinite; /* Animerer konstant med vink */
}
