*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/img/maven/maveside_korrekt.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

/* .button1 {
    font-size: 1.5rem;
    font-family:  "the girl next door";
    text-decoration: none;
    border-radius: 43%;
    padding: 1rem 3rem;
    background-color: #576D8C;
    color: white;
    border: 0.1rem solid white;
    z-index: 1; 
    margin: 1rem;
    margin-right: 3.5rem;
  
} */

/* .button1:hover{
    background-color: #455469;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
     transform: scale(1.05); 
}

.button2 {
    font-size: 1.5rem;
    font-family:  "the girl next door";
    text-decoration: none;
    border-radius: 43%;
    padding: 1rem 3rem;
    background-color: #9D433B;
    color: white;
    border: 0.1rem solid white;
    z-index: 1; 
}

.button2:hover {

    background-color: #85443e;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.knapper {
    padding-top: 23%;
    padding-left: 40%;
    transform: rotate(5deg);
} */

.button1 {
    position: absolute;
    padding: 0.6rem 3rem;
    background-color: #9D433B;;
    color: white;
    border: none;
     border: 0.1rem solid white;
    border-radius: 10rem;
    font-family: "The Girl Next Door", cursive;
    text-decoration: none;
    font-size: 1.6rem;
    cursor: pointer;
    z-index: 4;
    top: 70%;
    left: 43%;
    transform: scale(1.05); 
  }
    
  .button1:hover {
    background-color: #b53e33;
  }

  .button2 {
    position: absolute;
    padding: 0.8rem 3rem;
    background-color: #576D8C;
    color: white;
    border: none;
    border: 0.1rem solid white; 
    border-radius: 10rem;
    font-family: "The Girl Next Door", cursive;
    text-decoration: none;
    font-size: 1.6rem;
    cursor: pointer;
    z-index: 4;
    top: 70%;
    left: 59%;
    transform: scale(1.05); 
  }
    
  .button2:hover {
    background-color: #286090;
      
  }

  .knapper {
    padding-top: 28%;
    padding-left: 27%;
    transform: rotate(6deg);
}