*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/img/maven/forside.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.start{
    position: absolute;  
    top: 82%;    
    left: 40%;          
    width: 20rem;
}