*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('/img/maven/villads.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}
.højre {
    position: absolute;  
    top: 50%;    
    left: 82%;          
    width: 20rem;
}

.venstre {
    position: absolute;  
    top: 50%;    
    right: 82%;          
    width: 20rem;
}

.afslut{
    position: absolute;  
    top: 85%;    
    right: 80%;          
    width: 15rem;
}

.gaet{
    position: absolute;  
    top: 85%;    
    left: 80%;          
    width: 15rem;
}

button {
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Skjuler popup som standard */
  .hidden {
    display: none;
  }
  
  #popup {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-content {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
  }
  
  .popup-content input {
    padding: 10px;
    width: 80%;
    margin-top: 10px;
  }
  
  .popup-content button {
    margin-top: 15px;
    padding: 10px 20px;
  }