*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('/img/maven/villads.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}
.højre {
    position: absolute;  
    top: 50%;    
    left: 82%;          
    width: 20rem;
}

.venstre {
    position: absolute;  
    top: 50%;    
    right: 82%;          
    width: 20rem;
}

.afslut{
    position: absolute;  
    top: 85%;    
    right: 80%;          
    width: 15rem;
}

.gaet{
    position: absolute;  
    top: 85%;    
    left: 80%;          
    width: 15rem;
}

