*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/img/maven/mads.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}
.højre {
    position: absolute;  
    top: 50%;    
    left: 82%;          
    width: 20rem;
}

.venstre {
    position: absolute;  
    top: 50%;    
    right: 82%;          
    width: 20rem;
}

.afslut{
    position: absolute;  
    top: 85%;    
    right: 80%;          
    width: 15rem;
}

.gaet{
    position: absolute;  
    top: 85%;    
    left: 80%;          
    width: 15rem;
} 

/*
.hidden {
    display: none !important;
  }
  
  #popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .popup-content {
    background: white;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    width: 300px;
  }
  
  .popup-content input {
    padding: 10px;
    width: 80%;
    margin-top: 10px;
  }
  
  .popup-content button {
    margin-top: 15px;
    padding: 10px 20px;
  } */

  /* Overlayet */
#overlay_billede {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6); /* lidt gennemsigtig baggrund */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10; /* læg det øverst */
  }
  
  /* Gør at billedet først viser sig når man trykker på knappen */
  #overlay_billede[hidden] {
    display: none !important;
  }

/* Billede på bogs størrelse */
  .overlay_indtast_svar{
    width: 77rem;
    position: absolute;
    height: auto;
    z-index: 1;
  }

/* Formular ovenpå billedet */
#svar_form {
    position: absolute;
    z-index: 2;
    width: 2rem;; /* kontrolleret bredde */
    padding-left: 10%;
  }

  /* Inputfelt */
.bruger_svar {
    position: absolute;
    top: -1rem;
    width: 21rem;
    padding: 0.7rem 1rem;
    border-radius: 7rem;
    border: none;
    text-align: center;
    font-family: 'The Girl Next Door', cursive;
    font-size: 1.2rem;
    z-index: 2;
  }

/* Luk knappen */
#luk_knap {
    position: absolute;
    bottom: 19rem;
    left: 29rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
  }
  
  #luk_knap img {
    width: 2.5rem;
  }

/* OK-knap */
#ok_knap {
    position: absolute;
    top: 4rem;
    left: 16.5rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
}

#ok_knap img {
    width: 7rem;
}

/* Forkert svar - Prøv igen knappen */
.prov_igen_knap {
    background-color: #337ab7; /* blå farve */
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
  }
  
  .blå-knap:hover {
    background-color: #286090;
  }
